* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(180deg, #646f8f, #685776);
    background-image: url("images/bg.jpg");
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(180deg, #0e0a0d, #f6f9ff);

}

.container {
    width: 100%;
    max-width: 360px;
    background: #ffffff;
    padding: 24px;
    border-radius: 16px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(53, 77, 102, 0.1);
}

.illustration {
    width: 140px;
    max-width: 450px ;
    margin: 16x; auto;
    display:current;
    margin-bottom: 16px;
}

h1 {
    color: #7b87a5;
    margin-bottom: 4px;
}

.tagline {
    color: #777;
    font-size: 14px;
    margin-bottom: 24px;
}

input {
    width: 100%;
    height: 48px;
    padding: 0 14px;
    margin-bottom: 16px;
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #3F6AE1;
}

button {
    width: 100%;
    height: 48px;
    background: #3F6AE1;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:active {
    opacity: 0.9;
}

.links {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.links a {
    font-size: 13px;
    color: #3F6AE1;
    text-decoration: none;
}

.links.single {
    justify-content: center;
}
